<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
</head>
<body class="sidebar-content">
<div class="sidebar">
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-2">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-5" style="text-align: center">Личный кабинет тестировщика</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" class="nav-link active" aria-current="page">
                    <img class="bi pe-none me-2" width="20" height="20" src="{% static 'pictures/tester1' %}">&nbsp;&nbsp;Главная
                </a>
            </li>
            <li>
                <a target="_blank"
                   href="/help"
                   class="nav-link link-dark">
                    <img width="20" height="20" src="{% static 'pictures/manual.png' %}">&nbsp;&nbsp;Инструкция
                </a>
            </li>
            <li>
                <a target="_blank"
                   href="https://docs.google.com/spreadsheets/d/15IuwjDOQJfk680KDO8ZEE1Rg_chwc5L7zX_o0uTAahs/edit#gid=1153324384"
                   class="nav-link link-dark">
                    <img width="20" height="20" src="{% static 'pictures/google-sheets.png' %}">&nbsp;&nbsp;Google
                    sheets
                </a>
            </li>
            <li>
                {% if username %}
                <a href="/logout" class="nav-link link-dark">
                    <img width="22" height="22" src="{% static 'pictures/logout.png' %}">&nbsp;&nbsp;Выйти
                    </a></li>
            <hr>
            <img width="20" height="20" src="{% static 'pictures/tester.png' %}" >&nbsp;&nbsp;{{username}}


            {% else %}
            <li>
                <a style="margin-left:20px" href="/auth/sign-in">Войти</a>
                <img width="20" height="20" src="{% static 'pictures/tester.png' %}">

                <!-- employee он же сотрудник, по сути просто поле списка имен пользователей, для избежания путаницы назван именно employee  -->
            </li>
            {% endif %}
        </ul>


    </div>
</div>


{% block content %}{% endblock %}


<footer class="d-flex flex-wrap py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center" id="footer">
        <span>© 2022 Севастопольский государственный университет</span>
    </div>
</footer>

</body>
</html>