{% extends 'moodle_events/base-templates.html' %}
{% load static %}

{% block title %}
"Инструкция"
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
<pre>
Личный кабинет тестировщика позволяет пользователю оптимизировать процесс проверки курсов,
за счёт оптимизации поиска курсов, в которых присутствуют изменения.

Пользователь личного кабинета может использовать фильтры по дате, а также кафедре/названию курса.
После сортировки с помощью фильтра есть возможность применить сортировку внутри самой таблицы.
В такой сортировке могут участвовать следующие поля:

 - № курса
 - Краткое название курса
 - Полное название курса в СДО
 - Событие
 - Ссылка на курс
 - Дата изменения

Также для навигации по таблице с курсами можно использовать пагинацию.
В сайдбаре пользователь может перемещаться между страницами личного кабинета.
Есть возможность перейти в раздел с главной страницей, на которой и отслеживаются изменения в курсах,
на страницу с инструкцией к личному кабинету, а также в Google Sheets, где находится вся информация о проверенных курсах.
Также через сайдбар осуществляется деавторизация из личного кабинета через кнопку «Выход».

</pre>

{% endblock %}