<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выгрузка изменений по курсам</title>
</head>
<body>
<p>НА этой странице будет таблица с выгрузкой изменений в курсах мудл от имени преподавателя. </p>
<div>
<table>
    <thead>
    <tr>
        <td >Имя</td>
        <td >Фамилия</td>
        <td >Отчество</td>
        <td >Email</td>
        <td >Должность</td>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-300">
            <tr class="whitespace-nowrap">
            <td>Тестировщик</td>
            <td>Номер</td>
            <td>Один</td>
            <td>какой-то урл</td>
            <td>айдишник курса</td>
        </tr>
    }
    </tbody>
</table>
</div>
</body>
</html>