{% extends 'moodle_events/base-templates.html' %}

{% block title %}
"Выгрузка изменений"
{% endblock %}

{% block content %}
<p>НА этой странице будет таблица с выгрузкой изменений в курсах мудл от имени преподавателя. </p>
<div>
    <table class="table table-hover">
            <thead>
            <tr>
                <th>Id курса</th>
                <th>Название события</th>
                <!--                <th>Название курса</th>-->
                <th>Событие</th>
                <!--                <th>Краткое название курса</th>-->
                <th>Ссылка на курс</th>
                <th>Дата изменения</th>
            </tr>
            </thead>
            <tbody>
            {% for changes in mdl_changes %}
            <tr>
                <th scope="row">{{ changes.courseid }}</th>
                <td>{{ changes.other }}</td>
                <!--                <td>{{ changes.other }}</td>-->
                <!--  тут дважды пустое поле будет так как мудл отказался делиться с нами Json-->
                <td>{{changes.action}}</td>
                <!--                <td>{{ changes.other }}</td>-->
                <td><a href="http://dipmoodle/course/view.php?id={{ changes.courseid }}" target="_blank">Ссылка на курс</a></td>
                <!-- По хорошему надо бы сделать по человечески ссылку, а пока ока просто как якорь -->
                <td>{{ changes.timecreated }}</td>
                <!-- тут у нас перестал работать преобразователь из юникс в нормальный вид,-->
                <!--     впрочем не очень то и хотелось это исправлять-->
            </tr>
            {% endfor %}
            </tbody>

        </table>
   </div>

{% endblock %}