<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

</head>
<body>
<main class="form-signin" style="max-width: 400px; padding: 15px; display: block;
    margin-left: auto;   margin-right: auto; ">
    <form>
        <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/6/69/SevSU_Logo.png" alt="" width="340"
             height="80" style="ma">
        <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

        <div class="form-floating">
            <input  class="form-control" id="fn-input" placeholder="Фамилия">
            <label for="floatingInput">Фамилия</label>
        </div>
        <div class="form-floating">
            <input  class="form-control" id="ln-input" placeholder="Имя">
            <label for="floatingInput">Имя</label>
        </div>
        <div class="form-floating">
            <input  class="form-control" id="gr-input" placeholder="Группа">
            <label for="floatingInput">Шифр группы</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить логин
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit"><a href="mdl-events.html"
                                                                      style="color: white">Регистрация</a></button>
    </form>
</main>
</body>
</html>