.container-events{
    margin-top: 40px;
}
body{
    overflow: hidden;
}

.sidebar-content{
display: flex;
flex-direction: row;
justify-content: space-between;
}
#sidebar{
    display: flex;
	background-color: white;
	width: 280px;
    height: 30%;
    border-radius: 10px;
    order: 1;
}

.content{
	display: flex;
	order: 2;
	margin-left: 20px;
	background-color: white;
	margin-right: 40px;
}

span{
	font-family: Comfortaa, monospace;
	text-align: right;
	font-size: 15px;
	color: black;
	text-decoration: black;
}
a{
	
	color: black;
}

