{% extends 'moodle_events/base-templates.html' %}
{% load static %}

{% block title %}
Курсы в кафедре
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="sidebar-content">
    <div class="content">
        <form method="GET">
        <input type = "text" name = "name" placeholder="Поиск" class = "text-center">
        <button type = "submit" class = "btn-danger btn-sm">Найти кафедры</button>
      </form>
        <div class="div-table">
            <table class="table table-hover" style="margin-top:30px">
                <thead style="background-color: #056efd;
	color: white;">
                <tr>
                    <th style="text-align:center">Id курса</th>
                    <th style="text-align:center">Полное имя</th>
                    <th style="text-align:center">Короткое имя</th>
                    <th style="text-align:center">Id кафедры</th>
                    <th style="text-align:center">Кафедра</th>

                </tr>
                </thead>
                <tbody>
                {% for courses_on_category in all_category %}
                <tr style="text-align:center">
                    <th scope="row">{{ courses_on_category.id }}</th>
                    <td style="text-align:center">{{ courses_on_category.fullname }}</td>
                    <td style="text-align:center">{{courses_on_category.shortname}}</td>
                    <td style="text-align:center">{{courses_on_category.categoryid}}</td>
                    <td style="text-align:center">{{courses_on_category.categoryname}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
