{% extends 'moodle_events/base-templates.html' %}

{% block title %}
Курсы в кафедре
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/course_category.css'%}" type="text/css">
<div class="content">
    <div class="div-table">
        <div class="filter">
            <form method="GET" id="search">
                <input type="text" name="categoryname" placeholder="Поиск" class="text-center">
                <button type="submit" >Показать&nbsp;кафедру</button>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Полное имя</th>
                <th>Короткое имя</th>
                <th>Id курса</th>
                <th>Кафедра</th>
                <th style="text-align:center">Ссылка на курс</th>
            </tr>
            </thead>
            <tbody>
            {% for courses_on_category in all_category %}
            <tr style="text-align:center">
                <td style="text-align:center">{{courses_on_category.categoryid}}</td>
                <td style="text-align:center">{{ courses_on_category.fullname }}</td>
                <td style="text-align:center">{{courses_on_category.shortname}}</td>
                <th scope="row">{{ courses_on_category.id }}</th>
                <td style="text-align:center">{{courses_on_category.categoryname}}</td>
                <td><a href="https://do.sevsu.ru/course/view.php?id={{courses_on_category.id}}"
                       target="_blank">Ссылка</a> <img width="15" height="15" style="opacity: .4;"
                                                       src="{% static 'pictures/link.png' %}">
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
