{% extends 'moodle_events/base-templates.html' %}
{% load static %}

{% block title %}
Список кафедр
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="sidebar-content">
    <div class="content">
        <form method="GET">
        <input type = "text" name = "name" placeholder="Поиск" class = "text-center">
        <button type = "submit" class = "btn-danger btn-sm">Найти кафедры</button>
      </form>
        <div class="div-table">
            <table class="table table-hover" style="margin-top:30px">
                <thead style="background-color: #056efd;
	color: white;">
                <tr>
                    <th style="text-align:center">Id кафедры</th>
                    <th style="text-align:center">Название кафедры</th>
<!--                    <th style="text-align:center">Число курсов в кафедре</th>-->
                </tr>
                </thead>
                <tbody>
                {% for department in all_departments %}
                <tr style="text-align:center">
                    <td style="text-align:center">{{ department.id }}</td>
                    <td style="text-align:center">{{ department.name }}</td>
<!--                    <td style="text-align:center">{{department.coursecount}}</td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block footer%}
{% endblock %}